@model OATools.ViewModel.ToolkitViewModel

@{
    ViewBag.Title = "Toolkit";
}

<h2>Your Recovery Toolkit</h2>

A collection of tools to aide your recovery.

@foreach (var t in Model.Toolkit)
{
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">@t.Name</div>
        <div class="card-body">
            <p class="card-text">@t.Instructions</p>
        </div>
        <button class="btn btn-secondary" data-target="#@(t.Name)" data-toggle="collapse">Use This Tool</button>
    </div>
    @Html.Partial(@t.PartialViewName, new ViewDataDictionary { { "t", t } })
}



