@model OATools.ViewModel.ToolkitViewModel

@{
    ViewBag.Title = "Toolkit";
}

<h2>Your Recovery Toolkit</h2>
<div style="padding: 10px;">
    <h4>A collection of tools to aide your recovery. Click on the tool name to see tool details.</h4>
</div>

@foreach (var t in Model.Toolkit)
{
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-header modalHover" data-target="#instructions" data-toggle="collapse">@t.Name</div>
        <div id="instructions" class="card-body collapse">
            <p class="card-text">@t.Instructions</p>
        </div>
        <div class="card-footer">
            @Html.ActionLink("Use This Tool", t.ViewName, "Toolkit")
        </div>
    </div>
}



