body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.title {
    font-size: 1.5em;
}

.modalHover:hover {
    cursor: pointer;
}

.row {
    color: black;
}

.paddedBtn {
    padding: 10px;
}

.sloganHeader {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

/*
    https://color.adobe.com/create/color-wheel
    compound first color
    royal blue:#1402BA
    purple:#4C4587 
    light blue: #1A75ED - navbar
    sandy orange:#EFA956 - background
    burnt orange: #BA4A02 
*/