@using OATools.Models

@{

    var slogans = (List<Slogan>)this.ViewData["s"];
    Random rnd = new Random();
    //var sloganList = slogans.ToList;
    var index = rnd.Next(slogans.Count);
    var currentSlogan = slogans[index];
}

<div id="slogan" class="card text-white bg-primary mb-3 modalHover" style="max-width: 20rem;" onclick="GetValue()">
    <div class="card-header">Click anywhere in the box to see more slogans.</div>
    <div class="card-body">
        <h4 class="card-title">@currentSlogan.SloganText</h4>
        <p>@currentSlogan.AffiliatedProgram</p>
    </div>
</div>

