@model OATools.ViewModel.HomePageViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Addiction Recovery: one day at a time.</h1>
    <p class="lead">Twelve Step Recovery tools and resources, all in one place, to get you 24 more hours.</p>
    <p class="lead">You never have to do anything alone, ever again.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Reading Links</h2>
        <p>to free online readings of The Big Book and the Alcoholics Anonymous Daily Reflections</p>
        @foreach (var book in Model.BookTitles)
        {
            <div class="paddedBtn">
                <button class="btn btn-secondary" data-toggle="modal" data-target="#links@(book.Id)">
                    @book.BookTitle
                </button>
            </div>
            <br/>
            <div class="modal" id="links@(book.Id)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            @foreach (var link in Model.PdfLinks.Where(l => l.BookTitle == @book.BookTitle))
                            {
                                <p><a class="btn btn-primary btn-lg btn-block" href="@link.Url" target="_blank">@link.Name</a></p>
                            }
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        }
        
        
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>